.grid-container { height: 100%; margin: 0; min-height: 500px}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas: "Contacts Contacts Contacts" "Contacts Contacts Contacts" "Announcements Lectures Lecture-recordings" "Labs Discussion-forum Assessment" "Links Links Links";
}

.Contacts { grid-area: Contacts;
  background-color: #E5DBD9; }

.Lectures { grid-area: Lectures;
  background-color: #ffbdbd; }

.Labs { grid-area: Labs;
background-color: #f1cbff;}

.Lecture-recordings { grid-area: Lecture-recordings;
background-color: #ffbdbd;}

.Assessment { grid-area: Assessment;
background-color: #c9c9ff;}

.Announcements { grid-area: Announcements;
background-color: #5784BA}

.Discussion-forum { grid-area: Discussion-forum;
background-color: #218B82;}

.Links { grid-area: Links;
background-color: #E5DBD9;}


.Lectures, .Labs, .Lecture-recordings, .Assessment, .Announcements, .Discussion-forum{
  text-align: center;
  font-family: "Arial, Helvetica, sans-serif";
  border: 2px solid #bdbdbd;
  padding: 10px;
  border-radius: 25px;
}

.Contacts, .Links{
  text-align: left;
  font-family: "Arial, Helvetica, sans-serif";
  border: 2px solid #bdbdbd;
  padding: 10px;
  border-radius: 25px;
}

/* For presentation only, no need to copy the code below */
/*.grid-container * {
 border: 1px solid #ffff;
  border-radius: 5px;
  position: relative;
}

.grid-container *:after {
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}*/
