.book-header{
  background-color: #FCBB06 !important;
}
.book-header a{
  color: #000000 !important;
}
.solution::before {
    content: 'Solution';
  display: block;
	border-top: solid 1px #FCBB06;
	font-size: 25px;
	color: #FCBB06;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 10px;
}
.solutiontext{
  border-top: solid 1px #FCBB06;
  background: #f7f7f7;
	margin-bottom: 10px;
}
.solutiontext::before{
      content: "Solution";
	margin-top: -40px;
	font-size: 25px;
	color: #FCBB06;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	transform: translateX(75%);
}
.noteBox {
  border: solid 1px #FCBB06;
  background-color: #fff;
  padding: 6px 12px;
  overflow-y: auto;
	min-height: 35px;
	margin-bottom: 40px;
	overflow-wrap: break-word;
}
.why::before {
    content: "What for?";
	text-transform: uppercase;
	margin-top: -40px;
	font-weight: bolder;
	font-size: 2em;
	color: #FCBB06;
	display: block;
	transform: translateX(75%);
}
.why {
    margin-top: 4em;
    border: solid 1px #FCBB06;
    padding: 10px;
    position: relative;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
