@import url(https://fonts.googleapis.com/css?family=Work+Sans|Work+Sans:400,400italic,500,600,700);

.book .book-body {
   font-family: 'Work Sans', sans;
}

h1 {
  font-family: 'Work Sans', sans;
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans;
  font-weight: 600;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


div.darkblue { 
  background-color:#438bca !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px; 
}

div.lo, div.lightblue { 
  background-color:#d9edf7 !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px; 
}

div.green { 
  background-color:#dff0d8 !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px; 
}

div.yellow { 
  background-color:#fcf8e3 !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px; 
}

div.red { 
  background-color:#F3E3E5 !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px; 
}

div.frame {
  border: 1px solid #333333 !important; 
  border-radius: 5px; 
  padding: 20px; 
  margin-bottom: 15px; 
  padding-top: 10px;
}
